git+https://github.com/facebookresearch/segment-anything.git
opencv-python
pycocotools 
torch
torchvision
matplotlib 
onnxruntime 
onnx
diffusers
https://github.com/gradio-app/gradio/archive/refs/tags/gradio@4.27.0.tar.gz
